html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto',sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-nav{
  height: 100px;
  width: 100%;
  top: 0;
  background-color: #013369;
  color: white;
  text-align: center;
  padding: 5px 10px;
  z-index: 1000;
}

.main-nav h1{
  margin: 10px 0 0;
  font-size: 2em;
}

.main-nav p{
  margin: 0 0 10px;
  font-style:italic;
}

.footer-nav{
  height: 80px;
  height: 109px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #013369;
  color: white;
  text-align: center;
  padding: 5px 10px;
  z-index: 1000;
}

.footer-nav h1{
  margin: 10px 0 0;
  font-size: 2em;
}
.category-nav{
  background-color: #303030;
  width: 100%;
  padding: 4px 10px;
  display: flex;
  justify-content:space-evenly;
  /* flex-direction:row; */
}

.replay{
  height: 50px;
  width: 100%;
  
  margin-top: 20px;
  /* background-color: #013369; */
  color: white;
  text-align: center;
  padding: 5px 10px;
  z-index: 1000;
}

.replay-button{
  background-color: #D50A0A;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  color: white;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  padding: 15px;
  height: 50px;
  width: 280px;
  transition: transform 0.3s ease;
  margin-top: 10px;
}

.category-nav{
  background-color: #303030;
  width: 100%;
  padding: 4px 10px;
  display: flex;
  justify-content:space-evenly;
  /* flex-direction:row; */
}

.sub-category-nav{
  background-color: #303030;
  width: 100%;
  padding: 4px 10px;
  display: flex;
  color: whitesmoke;
  justify-content:center;
  /* flex-direction:row; */
}

.badge{
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 50px;
  background-color: #6A9AE2;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.badge:hover{
  background-color: #95abf3;
}

.content{
  padding-top: 20px;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card{
  /* background-color: #4169E1; */
  background-color: #013369;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px;
  padding: 15px;
  height: 150px;
  width: 250px;
  transition: transform 0.3s ease;
  display:flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.card[disabled]{
  pointer-events:none;
  opacity: 0.4; 
}

.card-all[disabled]{
  pointer-events:none;
  opacity: 0.4; 
}

.card-back{
  /* background-color: purple; */
  background-image: url("../src/assets/checkmark.png");
  background-position: 50% 95%; /* Center the image */
  background-repeat: no-repeat;
  background-size: 20%;
  background-color: rgba(134, 147, 151);
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px;
  padding: 15px;
  height: 150px;
  width: 250px;
  transition: transform 0.3s ease;
  display:flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.card-back-wrong{
  /* background-color: purple; */
  background-image: url("../src/assets/x-mark.png");
  background-position: 50% 95%; /* Center the image */
  background-repeat: no-repeat;
  background-size: 20%;
  background-color: rgba(134, 147, 151);
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px;
  padding: 15px;
  height: 150px;
  width: 250px;
  transition: transform 0.3s ease;
  display:flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.responseBtn{
  background-color: #D50A0A;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px;
  padding: 15px;
  height: 50px;
  width: 280px;
  transition: transform 0.3s ease;
  margin-top: 10px;
}

.responseBtn:hover{
  background-color: #95abf3;
}

.responseBtn-nav{
  display: flex;
  justify-content:center;
  flex-direction:column; 
}

.responseBtn-nav[disabled]{
  pointer-events:none;
  opacity: 0.4;
}

.top{
  display: flex;
  flex-direction: row;
}
.card:hover{
  background-color: #95abf3;
  cursor: pointer;
}

.categoryButton:hover{
  transform: scale(1.10);
  background-color: #6A9AE2;
}

.categoryButton{
  color:white;
  font-weight: bold;
  padding: 10px;
  margin-right: 5px;
  background-color: #D50A0A;
  width:120px;
}

@media (max-wdith: 600x){
  .card-container {
    grid-template-columns: 1fr;
  }
  .buttonContainer{
    grid-template-columns: 1fr;
  }
}